

body {

	background-image: url("/BlueMobo.jpg");
	background-attachment:fixed;
	background-position: center top; 
	//background-color: #cccccc;
	color: white;
	text-align: center;
	font-size: 30px;
	font-size: 1.5em;
	font-family: Arial;

}
/*
<style>
@import 'https://fonts.googleapis.com/css?family=Roboto:300';
</style>
*/
/******TOP HEADER******/

h1.header {

	margin: auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2.5em;
	border: 2px solid rgba(0, 0, 0, .6);
	border-bottom: none;
	background: rgba(0, 0, 255, 0.3);
	max-width: 900px;
	overflow: hidden;
}

//h1.header:hover {

	background: rgba(25, 25, 255, .5);

}

/******NAVIGATION BAR******/

ul {
	position: fixed;
 	top: 0px;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: .8em;
	list-style-type: none;
	margin: auto;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .6);
	max-width: 904px;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

li{

	display:inline-block;
	margin: auto;

}

li a {

	display: block;
	color: white;
	text-align: center;
	padding: 5px 15px;
	text-decoration: none;
	//border-top: 4px solid rgba(0, 0, 200, .6);

}

ul:hover {

	background-color: rgba(0, 0, 0, 1);

}

li a:hover{
	background-color: rgba(105, 105, 105, 1);
	border-bottom: 4px solid rgba(105, 105, 105, 1);
}

li a.current {
	border-bottom: 4px solid rgba(25, 25, 200, .75);
}

/******Content******/

p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	text-align: justify;
	margin-bottom: 0;
}

.blackbox{
	
	background-color: rgba(5, 5, 5, .5);
	padding: 20px;
	max-width: 600px;
	margin: auto;
	margin-top: 25px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.blackbox:hover{

    	background-color: rgba(5, 5, 5, .9);

}

.blackboxtext{
	
	background-color: rgba(5, 5, 5, .8);
	padding: 20px;
	max-width: 600px;
	margin: auto;
	margin-top: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	text-align: justify;
	margin-bottom: 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	
}

.blackboxtext:hover{

    	background-color: rgba(5, 5, 5, .9);

}

.images{
	width:100%;
	height:75%;
}

.desc{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
	text-align: center;
	margin-bottom: 0;
}
